
$default-padding : 10px;

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.top-bar {
  background: #3f51b5;
  padding: $default-padding/2 $default-padding;
  color: white;
}

.header {
  padding: $default-padding;
  .item-header {

  }
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
.search-input:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.search-input {
  height: 35px;
  width: 210px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px;
  outline: none;
  span>label {
    color: white;
  }
}
