/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

@font-face {
  font-family: myfont;
  src: url("https://s3-ap-southeast-1.amazonaws.com/finandesk-static/assets/fonts/PRODUCT_SANS_REGULAR.eot") /* EOT file for IE */
}
@font-face {
  font-family: myfont;
  src: url("https://s3-ap-southeast-1.amazonaws.com/finandesk-static/assets/fonts/PRODUCT_SANS_REGULAR.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
  font-family: myfont_bold;
  src: url("https://s3-ap-southeast-1.amazonaws.com/finandesk-static/assets/fonts/PRODUCT_SANS_SEMIBOLD.ttf") /* EOT file for IE */
}

html,body {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  font-family: myfont;
  overflow-x: hidden;
}

input {
  font-family: myfont;
}

.column {
  display: inline-grid;
  margin: 0 15px;
}

.row {
  display: flex;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

[hidden] {
  opacity: 0 !important;
}

.loading { border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;background-color:transparent; text-align: center; }
.loading-dialog {
  background: transparent;
}
.isCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(34,87,167,1);
  background-color: #DBDBDB;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(34,87,167,1);
  border: 2px solid rgba(34,87,167,1);
}
